@import "../../styles/colors-vars";

.delete-modal {
    display: flex;
    flex-flow: column;
    
    &__btn {

        &--close {
            align-self: flex-end;
            background-color: transparent;
        }

        &--confirm {
            align-self: flex-end;
            border: 1px solid $solmon;
            border-radius: 2px;
            padding: 5px 15px;
            text-transform: uppercase;
            font-size: 15px;
            color: $grey-font-color;
            background-color: $solmon;
        }
    }

    &__icon {
        color: $grey-font-color;
    }

    &__headline {
        text-transform: uppercase;
        font-size: 25px;
    }

    &__warning {
        margin: 20px 0;
        font-size: 15px;
    }
}