@import "../../styles/colors-vars";

$diameter: 160px;

@keyframes rotate-anim {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .spinner {
    position: absolute;
    animation: rotate-anim 1s linear infinite;
    width: $diameter;
    height: $diameter;
    top: calc(50% - #{$diameter/2});
    left: calc(50% - #{$diameter/2});
    border-radius: 50%;
    box-shadow: 0 6.656px 0 0 $solmon;
    transform-origin: 80px 85px;
    box-sizing: content-box;

    &__container {
      width: 100%;
      height: 100%;
      display: inline-block;
      overflow: hidden;
      background: none;
    }

    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0;
    }
}
