@import "../../styles/colors-vars";

.details {
    display: flex;
    padding: 20px 0;

    &__image {
        width: 250px;
    }

    &__headline {
        font-size: 50px;
        margin-bottom: 10px;
    }

    &__title,
    &__rate {
        vertical-align: middle;
    }

    &__rate {
        padding: 5px;
        margin-left: 20px;
        border: 1px solid $light-grey;
        border-radius: 50%;
        font-size: 0.5em;
        color: green;
    }

    &__terms-container {
        margin: 30px 0;
        font-size: 25px;
        color: $solmon;
    }

    &__duration {
        margin-left: 40px;
    }

    &__info {
        box-sizing: border-box;
        padding: 30px 100px 0 20px;
    }
}