.result {
    background-color: #000;

    .strong {
        font-weight: 600;
    }

    &__amount {
        padding: 5px;
        color: lighten(#474a51, 30%);
    }
    
    &__filter {
        display: flex;
        justify-content: space-between;
        box-shadow: inset 0 -2px 0 lighten(#474a51, 30%);
    }

    &__cards-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}