@import "../../styles/colors-vars";

$card-width: 350px;
$settingDiameter: 40px;

.movie {
    width: $card-width;
    margin: 10px 20px;
    position: relative;

    &:hover {
        cursor: pointer;

        .movie__icon-container {
            display: block;
        }
    }

    &__settings {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 300px;
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        &-container {
            display: none;
            width: $settingDiameter;
            height: $settingDiameter;
            border-radius: 50%;
            text-align: center;
            background-color: $white-opacity-3;
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }

    &__image {
        width: $card-width;
    }

    &__info {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
    }

    &__release-date {
        padding: 2px 5px;
        border: 1px solid $grey-border-color;
    }

    &__genres {
        width: 100%;
        margin-top: 5px;
    }
}

.menu {
    display: flex;
    flex-flow: column;
    background-color: $black;
    box-sizing: border-box;
    width: 200px;
    padding: 5px 0;
    position: absolute;
    top: 15px;
    right: 15px;

    &__btn--close{
        background-color: transparent;
        align-self: flex-end;
        cursor: pointer;
    }

    &__icon {
        color: $grey-font-color;
    }

    &__list {
        margin-top: 5px;
        &-item {
            padding: 10px;
    
            &:hover {
                background-color: $solmon;
            }
        }
    }
}