$card-width: 350px;
$settingDiameter: 40px;

.movie {
    width: $card-width;
    margin: 10px 20px;
    position: relative;

    &:hover {
        cursor: pointer;

        .movie__settings {
            display: block;
        }
    }

    &__settings {
        display: none;
        width: $settingDiameter;
        height: $settingDiameter;
        position: absolute;
        top: 30px;
        right: 30px;
        border-radius: 50%;
        text-align: center;
        background-color: rgba(255, 255, 255, .5);
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__image {
        width: $card-width;
    }

    &__info {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
    }

    &__release-date {
        padding: 2px 5px;
        border: 1px solid #fff;
    }

    &__genres {
        width: 100%;
        margin-top: 5px;
    }
}