$grey: #474a51;
$grey-font-color: lighten(#474a51, 30%);
$grey-border-color: lighten(#474a51, 40%);
$solmon: #FA8072;
$white: #fff;
$black: #000;
$light-grey: #b8b8b8;

$white-opacity-3: rgba(255, 255, 255, .3);