@import "../../styles/variables.scss";

.form-select {
    &__list,
    &__btn {
        padding: 5px 15px;
        font-size: 15px;
        background-color: $grey;
        color: $grey-font-color;
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid $grey-border-color;
    }

    &__icon {
        color: $solmon;
    }

    &__item {
        padding: 5px 0;
    }
}