@import "../../styles/colors-vars";

.result-sort{
    &__container--btn {
        display: inline-block;
        position: relative;
    }

    &__list {
        position: absolute;
        z-index: 100;
    }

    &__btn {
        width: 200px;
        box-sizing: border-box;
        padding: 10px 5px;
        border-bottom: 2px solid $grey-border-color;
        background-color: $black;
        color: $grey-font-color;
        font-size: 16px;
        outline: none;

        &:hover {
            cursor: pointer;
        }

        &:not(.untracked):focus {
            color: $solmon;
            border-color: $solmon;
            outline: none;
        }

        &.untracked {
            display: flex;
            justify-content: space-between;
        }
    }

    &__icon--bright {
        color: $solmon;
    }
}