{
    "presets": [
        [
            "@babel/preset-env",
            {
              "targets": {
                "browsers": [
                  "last 2 versions",
                  "Explorer 11"
                ]
              }
            }
        ]
    ],
    "plugins": ["babel-plugin-styled-components"]
}